<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-right">
            

                
                    <div class="logo">
                        <a href="" class="simple-text">
                            <div class="logo-img">
                                <img class="footer-logo" src="/assets/img/ntic.png"/>
                            </div>
                          
                        </a>
                    </div>
        </nav>

    </div>
</footer>
